
@{
    ViewData["Title"] = "GenericView";
    
}

@using App4Answers.Models.A4Amodels
@using Microsoft.AspNetCore.Mvc.Rendering
@model App4Answers.Models.A4Amodels.ViewModelBase
    
    
<form asp-action="Administration" asp-route-objecttype="@Model.ObjectType" asp-route-verb="@ObjectTypesAndVerbs.Verb.Save" asp-route-itemid="@Model.GetPrimaryKey()" >
<div class="row" style="height:20px"></div>    


<div class="col-sm-12" style="color:black" align="left">
    <table class="table" >
        <tbody>
        @foreach (var c in Model.GetRows(4))
        {
            <tr>
                @foreach (var g in c.Fields)
                {
                    <td class="well well-lg a4ainput" style="border:4px solid white">
                        @Html.Partial("PartialView/ViewModelFieldEditor",g)
                    </td>
                }

            </tr>
        }
        <tr>
            <td colspan="3">
                <button type="submit" class="btn btn-lg">
                    <i style="font-size: 20px; color: black" class="glyphicon glyphicon-floppy-save"></i>
                </button>                
            </td>

        </tr>
        </tbody>
    </table>
</div>

</form>
