@using System
@using App4Answers.Models.A4Amodels
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.CodeAnalysis.CSharp.Syntax

@{
    ViewData["Title"] = "Terms";
    ViewData["RenderExpert"] = false;
    ViewData["Background"] = "/images/darkblue.png";
    ViewData["RenderAppStore"] = false;
    Layout = "_Layout";
}


    
<div class="col-sm-12" style="height: 20px">
    <h1>hit here</h1>
</div>

<div class="row">

<div class="col-sm-1">

</div>

    <div class="col-sm-1" style="color: white; padding-right: 0px; margin-right: 0px" align="left">
        <div class="container" style="padding-top:23px">
            <ul class="nav  nav-stacked">
                <li class="a4amenu"><a class="a4amenu" asp-action="ExpertAction" asp-route-mailtype="ObjectTypesAndVerbs.Mail.Inbox">Inbox</a></li>
                <li class="a4amenu"><a class="a4amenu" asp-action="ExpertAction" asp-route-mailtype="ObjectTypesAndVerbs.Mail.Sent">Sent</a></li>
                <li class="a4amenu"><a class="a4amenu" asp-action="ExpertAction" asp-route-mailtype="ObjectTypesAndVerbs.Mail.Drafts">Drafts</a></li>
                <li class="a4amenu"><a class="a4amenu" asp-action="ExpertAction" asp-route-mailtype="ObjectTypesAndVerbs.Mail.Trash">Trash</a></li>

            </ul>
        </div>
    </div>

    <div class="col-sm-3" style="color: white; padding-left: 0px; margin-left: 0px; margin-top: 0px; vertical-align: top; padding-top: 0px;" align="left">
        <div style="background-color: white; height: 700px; margin-left: 0px; padding-top: 0px; padding-left: 0px; vertical-align: top; margin-top: 0px">
            


        </div>    
    </div>
    <div class="col-sm-7" style="color: white; padding-left: 0px; margin-left: 0px; margin-top: 0px; vertical-align: top; padding-top: 0px;" align="left">
        <div style="background-color: gray; height: 700px; margin-left: 0px; padding-top: 0px; padding-left: 0px; vertical-align: top; margin-top: 0px">
            


        </div>    
    </div>

    
</div>

