
@{
    ViewData["Title"] = "Terms";
    Layout = "_Layout";
}


    
    <div class="col-sm-12" style="height: 60px">
        
    </div>


<div class="col-sm-1">

</div>

<div class="col-sm-10" style="color: white;">
    <h3 align="left">Support</h3>
</div>
<div class="col-sm-1">
</div>


    <div class="col-sm-1">

    </div>


<div class="col-sm-10" align="left" style="margin-left: 40px; padding-right: 40px; padding-left: 20px; height: 500px;">
    <div class="container">
        <div class="col-sm-12">
        <table style="padding-right:20px">
            <tbody>
            <tr>
                <td style="padding-right: 50px;padding-bottom:20px"> <input type="text" class="form-control input-lg" placeholder="Your Name"/></td>
                <td style="padding-right: 50px;padding-bottom:20px"><input type="text" style="width:300px" class="form-control input-lg" placeholder="Subject"/></td>
            </tr>
            <tr>
                <td style="padding-right: 50px;padding-bottom:20px"> <input type="text" class="form-control input-lg" placeholder="Your Email Address"/></td>
                <td rowspan="3" style="vertical-align: top;"><textarea style="width:300px" rows="7" class="form-control input-lg" placeholder="Message"></textarea></td>
            </tr>
            <tr>
                <td style="padding-right:50px;padding-bottom:20px"> <input type="text" class="form-control input-lg" placeholder="Company Name"/></td>
                <td/>
            </tr>
            <tr>
                <td style="padding-right:50px;padding-bottom:20px"> <input type="text" class="form-control input-lg" placeholder="Contact Number"/></td>
                <td/>
            </tr>
            <tr>
                <td style="padding-right:50px"> <input type="text" class="form-control input-lg" placeholder="Select Department"/></td>
                <td><input type="button" style="width: 300px;opacity:.5" class="form-control input-lg" value="Send Message"/></td>
            </tr>

            </tbody>

        </table>
        </div>

</div>

<div class="col-sm-1">

</div>
    </div>
    
