
@{
    ViewData["Title"] = "Terms";
    ViewData["RenderExpert"] = false;
    Layout = "_Layout";
}


    
    <div class="col-sm-12" style="height: 60px">
        
    </div>


<div class="col-sm-2" style="color: white;" align="left">
        <ul class="nav nav-pills nav-stacked">
            <li class="foo"><a href="#" style="color: white;">Dashboard</a></li>
            <li><a href="#">Experts</a></li>
            <li><a href="#">Professions</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Subcategories</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Admin</a></li>
            <li><a href="#">Group Contact</a></li>
            <li><a href="#">Messages</a></li>
        </ul>
</div>

<div class="col-sm-9" style="color: white;" align="left">
    </div>
    <div class="col-sm-1">

    </div>

